* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.button {
    display: inline-block;
    background: #188530;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.col-3 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    cursor: pointer;
}

.col-3:hover {
    background-color: lightgray;
}

.col-3 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;   
}

.footer {
    margin-top: 40px;
    background: #000;
    color: white;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3 {
    min-width: 250px;
    margin-bottom: 20px;

}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3 {
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.search-bar {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

.search-txt {
    display: inline-block;
}

.next-btn {
    text-align: center;
}

.next-btn a {
    text-decoration: none;
    font-weight: bold;
}

#menu {
    width: 15%;
    min-width: 150px;
    margin-left: 8px;
    cursor: pointer;
}

#menu details summary {
    cursor: pointer;
}

.cart-page {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: fff;
    background: green;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: green;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;

}

.single-item {
    margin-top: 80px;

}

.single-item col-4 img {
    padding: 0;

}

.single-item col-4 {
    padding: 20px;
}

.single-item h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-item input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid black;
}

.single-item h3 {
    margin: 20px 0;
}

.product {
    cursor: pointer;
}

.product:hover {
    background-color: lightgray;
}

#pagetable {
    padding: 1%;
    display: flex;
}

#sidebar {
    width: 23%;
    float: left;
    padding: 1%;
    border: 1px solid gray;
}

#content {
    width: 73%;
    float: right;
    padding: 1%;
    border: 1px solid gray;
    border-left: 0px solid gray;
}

label {
    display: inline-block;
}

input {
    display: block;
}

textarea {
    display: block;
}

.errormsg {
	background-color:  rgba(255, 127, 127, 1);
    box-shadow: 5px 5px rgba(255, 127, 127, 0.3);
    padding: 1%;
    margin: 1%;
}

.successmsg {
	background-color:  rgba(144, 238, 144, 1);
    box-shadow: 5px 5px rgba(144, 238, 144, 0.3);
    padding: 1%;
    margin: 1%;
}

.smallbox {
    width: 30%;
    border: 1px solid black;
    padding: 1%;
    margin: 0 auto;
}

.about {
    text-align: center; 
}
.about h2 {
    margin-bottom: 30px;
}

#map {
    margin-top: 50px;
}